ServerSync.Core/Configuration/ConfigurationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ConfigurationSchema"   
    elementFormDefault="qualified"    
    xmlns:mstns="http://tempuri.org/XMLSchema1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  
  <!--Types-->
  <xs:complexType name="typeSyncConfiguration">
    <xs:all>
      <xs:element name="left" type="typeSyncFolder" />
      <xs:element name="right" type="typeSyncFolder" />
      <xs:element name="fileFilter" type="typeFileFilter"/>
      <xs:element name="directoryFilter" type="typeDirectoryFilter" />
      <xs:element name="logDirectory" type="xs:string" />
      <xs:element name="timeStampMargin">
        <xs:complexType>
          <xs:attribute name="ms" type="xs:integer" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="typeSyncFolder">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="rootPath" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="typeFileFilter">
    <xs:sequence>
      <xs:element name="excludeFile" minOccurs="0" maxOccurs="unbounded"  type="typeRegexRule"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="typeDirectoryFilter">
    <xs:sequence>
      <xs:element name="includeDirectory" minOccurs="0" maxOccurs="unbounded"  type="typeRegexRule"/>
    </xs:sequence>
  </xs:complexType>
    
  <xs:complexType name="typeRegexRule">
    <xs:attribute name="pattern" type="xs:string" use="required" />
  </xs:complexType>
                  
  

  <xs:element name="syncConfiguration" type="typeSyncConfiguration" />
  
</xs:schema>
