ServerSync.Core/Configuration/ConfigurationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ConfigurationSchema"   
    elementFormDefault="qualified"    
    xmlns:mstns="http://tempuri.org/XMLSchema1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  
  <!--Types-->
  <xs:complexType name="typeSyncConfiguration">
    <xs:all>
      <xs:element name="left" type="typeSyncFolder" />
      <xs:element name="right" type="typeSyncFolder" />
      <xs:element name="logDirectory" type="xs:string" />
      <xs:element name="timeStampMargin">
        <xs:complexType>
          <xs:attribute name="ms" type="xs:integer" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="filterList" type="typeFilterList" />
    </xs:all>
  </xs:complexType>

  
  <!--SyncFolder type-->
  <xs:complexType name="typeSyncFolder">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="rootPath" type="xs:string" use="required" />
  </xs:complexType>
  
  <!--Filter Type-->
  <xs:complexType name="typeFilter">
    <xs:sequence>
      <xs:element name="include" type="typeRegexRuleList" />
      <xs:element name="exclude" type="typeRegexRuleList" />
      </xs:sequence>
  </xs:complexType>

  <!--FilterList Type-->
  <xs:complexType name="typeFilterList">
    <xs:sequence>
      <xs:element name="filter" type="typeFilter" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--RegexRule Type-->
  <xs:complexType name="typeRegexRule">
    <xs:attribute name="pattern" type="xs:string" use="required" />
  </xs:complexType>

  <!--RegexRuleList Type-->
  <xs:complexType name="typeRegexRuleList">
    <xs:sequence>
      <xs:element name="regex" type="typeRegexRule"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  
  <!--Root Element-->
  <xs:element name="syncConfiguration" type="typeSyncConfiguration" />
  
</xs:schema>
